* {
	/* margin: 0 auto; */
	background-color: rgb(20, 20, 20);
	color: white;
	text-align: center;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2.488rem;
	letter-spacing: 2px;
	font-weight: 800;
	margin-bottom: 0;
}

.subtitle {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	margin-top: 0;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
}

.section-title {
	font-family: Shrikhand;
	font-size: 1.99rem;
	color: black;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: white;
	text-shadow: white 2px 2px;
	margin-bottom: 5px;
}

.item {
	margin-bottom: 1.5rem;
}

.item-name {
	font-size: 1.2rem;
	font-family: 'Montserrat';
	font-weight: 500;
	margin-bottom: 5px;
}

.item-body {
	font-size: 0.833rem;
	font-family: 'Montserrat';
	font-weight: 300;
	font-style: italic;
	margin-bottom: 0;
	margin-top: 0;
}

.drink-list {
	padding: 0;
	margin-left: 0;
}

.drink-list li {
	font-family: 'Montserrat';
	list-style: none;
	margin-bottom: 1rem;
}

.tip-note {
	font-size: 0.75rem;
	color: grey;
	font-family: 'Montserrat';
	font-style: italic;
}

.quote {
	font-size: 0.75rem;
	color: grey;
	font-family: 'Montserrat';
}
